html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.hidden {
	display: none;
}

body {
	font-family: 'Miriam Libre', sans-serif;
}

#container {
	display: flex;
	justify-content: center;
}

#map {
	width: 50%;
	height: 90vh;
	color: #111;
}

#divLeftSide {
	width: 50%;
	height: 90vh;
	background-color: #efefef;
	display: grid;
}

h1 {
	text-align: center;
	color: black;
}
